section#ican.l-section.l-section__skills
  svg(viewbox='0 0 1000 55' preserveAspectRatio='none').l-section__skills-triangle
      polygon(points='0,55 1000,55 1000,0')
  .l-section__container
    h2.c-about__header Что умею
    .c-about__timeline
      .c-timeline__wrapper
        .c-timeline__column
          .c-timeline__titles
            h2.c-timeline__title-1 Front-End
            h3.c-timeline__title-2 front-End
          .c-timeline__description
            p HTML 5, CSS 3, JavaScript
              br/ адаптивная кросбраузерная верстка
              br/ CSS animation
              br/ Bootstrap 3
              br/ JQuery
    .c-about__timeline
      .c-timeline__wrapper
        .c-timeline__column
          .c-timeline__titles
            h2.c-timeline__title-1 Back-End
            h3.c-timeline__title-2 Back-End
          .c-timeline__description
            p Node JS, Express, MongoDB
              br/ могу написать несложный сервер на Express, Koa
              br/ могу работать с MongoDB 
              br/ есть начальные знания PHP, MySQL
    .c-about__timeline
      .c-timeline__wrapper
        .c-timeline__column
          .c-timeline__titles
            h2.c-timeline__title-1 Другое
            h3.c-timeline__title-2 Другое
          .c-timeline__description
            p SASS, Pug, Gulp, Git
              br/ умею работать с препроцессором SASS
              br/ шаблонизатором Pug
              br/ сборщиком Gulp
              br/ Github
              br/ базовые навыки работы с терминалом Linux
