section#works.l-section.l-section__works
  .l-img__background
  h2.l-section__works-title Примеры работ
  .l-section__container.l-section__container_works
    .l-galery__items.l-galery__row-1
      .l-galery__collumn-1
        .l-galery__row-3
          .l-galery__collumn-3
            a(href='#').l-galery__link 
            .l-galery__descr coming soon
            img(src='/img/bg_img.jpeg') 
          .l-galery__collumn-4
            a(href='#').l-galery__link
            .l-galery__descr coming soon
            img(src='/img/bg_img.jpeg')
        .l-galery__row-4  
          a(href='https://andreysushentsov.github.io/sportpitnt/' target='_blank').l-galery__link
          img(src='/img/works_2.png')
      .l-galery__collumn-2
        a(href='https://andreysushentsov.github.io/tvoya_shtuchka/' target='_blank').l-galery__link
        img(src='/img/works_1.png')
    .l-galery__items.l-galery__row-2
      .l-galery__collumn-5
        a(href='#').l-galery__link
        img(src='/img/bg_img.jpeg')
        .l-galery__descr coming soon 
      .l-galery__collumn-6
        a(href='https://andreysushentsov.github.io/test_task/' target='_blank').l-galery__link
        img(src='/img/works_3.png')       
