section.l-section.l-section__header
  video( autoplay loop).c-header__video Ваш браузер не поддерживает тэг "видео", пожалуйста скачайте более новую версию
    source(src='/img/bg_video.mp4' type='video/mp4')
  .l-header__background
  .l-header__rows
    .l-header__rows_left
    .l-header__rows_right
  .l-section__container.l-section__container_header
    .l-header__name
      h1.c-header__title Web - разработка
      p.c-header__description разработка и дезайн сайтов
